.bg {
     background-color: #007bff;
}

.navbar-light .navbar-nav .nav-link {
     color: rgb(252, 250, 250);
     font-size: 20px;
     opacity: 0.5;
     display: inline-block;
     line-height: 1;
     text-decoration: none;
     cursor: pointer;
}

.navigation__link {
     color: rgb(252, 250, 250) !important;
     font-size: 20px;
     opacity: 1;
     display: inline-block;
     line-height: 1;
     text-decoration: none;
     cursor: pointer;
}

.navigation__link:hover {
     text-decoration: none;
}

.navigation__link.active {
     color: rgba(255, 255, 255, 0.9) !important;
     font-weight: bold;
     border-top: 3px solid white;

}

.navbar-light .navbar-nav .show>.nav-link,
.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
     color: rgba(211, 214, 0, 0.9);
}

.navbar-light .navbar-nav .nav-link:hover {
     color: #fcfafa;
     opacity: 1;
}


.navbar-light .navbar-nav .nav-link:not(:last-of-type):after {
     background-color: #eeecec;
     display: block;
     content: "";
     margin-top: 5px;
     height: 2px;
     width: 0%;
     -webkit-transition: width .3s ease-in-out;
     -moz--transition: width .3s ease-in-out;
     transition: width .3s ease-in-out;
}

.navbar-light .navbar-nav .nav-link:not(:last-of-type):hover:not(:last-of-type):after {
     width: 100%;
}