.post-wrap {
     max-width: 1120px;
     margin: 0 auto;
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
     margin-bottom: 100px;
     margin-top: 50px;
     
}

.post-item {
     padding: 10px;
     cursor: pointer;
}

.post-item-wrap {
     background: #F7F7F2;
     position: relative;
     min-height: 485px;
     padding: 10px;
}

.post-item-wrap:after {
     content: "";
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     z-index: -1;
     background: #007bff;
     transform: rotate(1deg);
     transform-origin: left bottom;
     transition: .3s ease-in-out;
}

.post-item-wrap:hover:after {
     top: 5px;
     left: 5px;
     transform: rotate(2deg);
}

.post-link {
     text-decoration: none;
     display: block;
     padding: 30px;
}

.post-link:hover {
     text-decoration: none;
     display: block;
     padding: 30px;
}

.post-title {
     color: #33261D;
     font-size: 25px;
     margin-bottom: 12px;
     transition: .3s ease-in-out;
}

.post-item-wrap:hover .post-title {
     color: #007bff;
}

.post-content {
     color: #A69888;
     font-size: 14px;
}



@media (min-width: 768px) {
     .post-item {
          flex-basis: 50%;
          flex-shrink: 0;
     }
}

@media (min-width: 960px) {
     .post-item {
          flex-basis: 33.333333333%;
     }
}





.post_more {
     font-size: 22px;
}

.post_more:hover {
     color: #007bff;
}