footer {
     color: rgb(240, 240, 240);
     background-color: #007bff;
     padding-top: 10px;
     padding-bottom: 10px;

     i {
          margin-right: 30px;
     }
}

.show_date{
     width: 80px;
     padding-left: 3px; 
     padding-right: 3px;
    border: 1px solid cornsilk;
    
     margin-left: 10px;
     color: rgb(255, 255, 255);
     display: inline-block;
     font-weight: bold;
     border-radius: 4px;
     font-size: 20px;
}